* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 10px;
    text-align: center;
    padding-top: 0px;
    background-image: url("../img/logo_upiiz.png");
    background-repeat: no-repeat;
    background-position: center;
}

.titulo {
    margin: 2px auto;
    background-color: rgba(142, 0, 59, 0.8);
    color: #f0f0f0;
    text-shadow: 2px 1px 2px #666666;
    padding: 3px;
}

.info {
    margin: 5px auto;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}

.info li {
    list-style: none;
    display: inline;
    height: 32px;
    width: 100px;
    background-color: #000;
    border: 1px solid white;
    padding: 2px;
    margin: 4px;
    box-shadow: 1px 2px 2px #393939;
    border: none;
}

#requested {
    background-color: rgba(122, 195, 17, 0.77);
}

#failed {
    background-color: gray;
}

#accessed {
    background: rgb(182, 159, 36);
}

#main {
    margin: 10px auto;
    height: 500px;
    width: 500px;
}

.proceso {
    position: absolute;
    width: 60px;
    height: 80px;
    border-radius: 13px;
}

/* Estilos de los procesos */
#p-0 {
    background-color: #3D1308;
    top: 90px;
    left: 490px;
}

#p-1 {
    background-color: #050517;
    top: 90px;
    left: 730px;
}

#p-2 {
    background-color: #7B0D1E;
    top: 280px;
    left: 820px;
}

#p-3 {
    background-color: #9F2042;
    top: 440px;
    left: 620px;
}

#p-4 {
    background-color: #065752;
    top: 280px;
    left: 410px;
}

.id {
    font-weight: bold;
    color: white;
}

.accion {
    background: none;
    border: none;
    cursor: crosshair;
    color: white;
}

.accion:hover {
    color: #8ec70f;
}

.noDisponible {
    cursor: not-allowed;
    color: #cccccc;
}

.solicitado {
    background-color: rgba(122, 195, 17, 0.77) !important;
}

.fallando {
    background-color: #d93307;
    background: gray !important;
    font-style: italic;
}

.seleccionado {
    background: rgb(182, 159, 36) !important;
}
